@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Roboto:wght@300;400;700;900&display=swap');

$connectedDevicesHeight: 130px;
$screen-sm-max: 767.98px;
$padding: 40px;
$padding-sm: 25px;

*, *::after, *::before {
  box-sizing: border-box;
}

:root{
  --color-un-blue: #2cbbe1;
  --color-blue-darken: #3f7fa7;
  --font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-secondary: 'Oswald', var(--font-family);
}

html{
  --color-primary: #538797;
  --color-rural: #a3b147;
  --color-allarea: #e7b44d;
  --color-urban: #274c71;

  --color-background: #fff;
  --color-chart-background: #fff;
  --color-text: #161719;
  --color-light-grey: #f4f4f4;
  --color-light-grey-darken: #eee;
  --color-dark-grey: #666;
  --color-darker-grey: rgb(58, 58, 58);

  --color-grid-strong: var(--color-dark-grey);
  --color-grid-light: var(--color-light-grey);

  &.deviceIdentificationTriggered, &.darkMode{
    --color-background: #161719;
    --color-text: #fff;
    --color-light-grey: #2c2c2e;
    --color-light-grey-darken: #3a3a3c;
    --color-dark-grey: #636366;
    --color-dark-grey: #8e8e93;
  }
}

body{
  margin:0;
  padding:0;
  font-size: 1rem;
  font-family: var(--font-family);
  background: var(--color-background);
  color: var(--color-text);
  transition: all .5s ease 0s;

  @media screen and (max-width: $screen-sm-max) {
    font-size: .9rem;
  }
}

.container{
  max-width: 1200px;
  margin-left:auto;
  margin-right: auto;
  padding:0 $padding;

  @media screen and (max-width: $screen-sm-max) {
    padding:0 $padding-sm;
  }
}

.container-wide{
  margin-left:auto;
  margin-right: auto;
  max-width: 1700px;
  padding:0 $padding;

  @media screen and (max-width: $screen-sm-max) {
    padding:0 $padding-sm;
  }
}

.small-indent{
  margin-left:auto;
  margin-right:auto;
  width: 70%;

  @media screen and (max-width: $screen-sm-max) {
    width: 100%;
  }
}

.row{
  display:flex;
  flex-wrap: wrap;

  .col-50{
    width:100%;
    flex-shrink: 0;
    flex-grow: 0;
  }
}


/** 
 * Typography 
 */
 h1{
  font-family: 'Oswald';
  line-height: 1;
  font-size: 3rem;
  font-weight: 500;
  margin-top:0;
  margin-bottom:50px;

  @media screen and (max-width: $screen-sm-max) {
    font-size: 2.5rem;
    margin-bottom:35px;
  }

  small{
    display: block;
    font-size: 50%;
    font-weight: 300;
    margin-bottom: 15px;
  }
}

h2{
  line-height:1;
  background: var(--color-un-blue);
  color:white;
  padding: 5px 10px;
  display: inline-block;

  background: none;
  padding:0;
  color:var(--color-text);
}

p{
  margin:0;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: .1px;
}

a {
  text-decoration: none;
  color: var(--color-blue-darken);
  display:inline-block;
  position: relative;
  transition: color .5s ease;

  &:hover{
    color: var(--color-un-blue);
  }
}

.color-un-blue{
  color: var(--color-un-blue);
}

.color-allarea{
  color: var(--color-allarea)!important;
}

.color-rural{
  color: var(--color-rural)!important;
}

.color-urban{
  color: var(--color-urban)!important;
}

.fill-allarea{
  fill: var(--color-allarea)!important;
}

.fill-rural{
  fill: var(--color-rural)!important;
}

.fill-urban{
  fill: var(--color-urban)!important;
}

.font-weight-600{
  font-weight:600;
}

/**
 * Specific Styles
 */
.gray-bg{
  background: var(--color-light-grey);
  padding-top: 30px;
  padding-bottom: 30px;
}

.button{
  $button-padding-t-b: 7px;

  -webkit-appearance: none;
  user-select: none;
  display:inline-block;
  text-decoration: none;
  margin-right: 15px;
  color: var(--color-dark-grey);
  font-size:1rem;
  border-radius:50px;
  outline: none;
  cursor: pointer;
  padding: $button-padding-t-b 20px;
  line-height: 1rem;
  border: 1px solid var(--color-dark-grey);
  background: var(--color-light-grey);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: .9rem;
  transition: all ease .5s;

  &:hover, &:focus{
    background: var(--color-dark-grey);
    color:white;
    border-color: var(--color-dark-grey);
  }

  &.active{
    border-color: var(--color-dark-grey);
    background: var(--color-darker-grey);
    color: var(--color-light-grey);
  }
}

.intro{
  padding-top: 90px;
  padding-bottom: 60px;
  margin-bottom: 60px;

  @media screen and (max-width: $screen-sm-max) {
    padding-top: 50px;
  }
}

.impressum {
  padding:0;
  list-style-type: none;
  font-size: 75%;

  li{
    padding:0;

    a{
      text-decoration: none;
    }
  }
}

.horizontal-scroll-container {
  position: relative;
  margin: 0 (-$padding);

  @media screen and (max-width: $screen-sm-max) {
    margin: 0 (-$padding-sm);
  }

  &::before, &::after{
    content: "";
    width: 25px;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: 2;
  }

  &::after {
    right: 0;
    background: linear-gradient(to left,var(--color-chart-background) 0,rgba(255,255,255,0) 100%);
  }

  &::before {
    left: 0;
    background: linear-gradient(to right,var(--color-chart-background) 0,rgba(255,255,255,0) 100%);
  }

  .horizontal-scroll-wrapper {
    padding: 0 $padding;

    @media screen and (max-width: $screen-sm-max) {
      padding: 0 $padding-sm;
    }
  }
}

.chart-wrapper{
  width:100%;
  overflow-x: scroll;
}

.chart{
  display: block;
  width:100%;

  line{
    &.zeroLine {
      stroke: var(--color-grid-strong);
    }

    &.helpLine {
      stroke: var(--color-grid-light);
    }

    &.connectionLine {
      stroke: #bdbdbd;
    }
  }

  circle{
    stroke-width: 2;
    transition: fill .3s ease;

    &.rural{
      fill:white;
      stroke: var(--color-rural);
      
      &:hover{
        fill: var(--color-rural);
      }
    }

    &.allarea{
      fill:white;
      stroke: var(--color-allarea);

      &:hover{
        fill: var(--color-allarea);
      }
    }

    &.urban{
      fill:white;
      stroke: var(--color-urban);

      &:hover{
        fill: var(--color-urban);
      }
    }
  }

  path{
    &.rural{
      stroke: var(--color-rural);
    }

    &.allarea{
      stroke: var(--color-allarea);
    }

    &.urban{
      stroke: var(--color-urban);
    }

    &.evolutionPath {
      &.singapore, &.uganda {
        stroke: 1;
        stroke: var(--color-light-grey-darken);
      }
    }
  }

  text {
    font-family: var(--font-family);

    &#y_Indicator_0{
      font-weight: 800;
    }
  }

  .lineLabel{
    font-size:.85rem;
  }

  .dotGroup{
    circle{
      fill:white;
      stroke-width: 2;
    }

    &.rural{
      circle{
        stroke: var(--color-rural);
      }
    }

    &.allarea{
      circle{
        stroke: var(--color-allarea);
      }
    }

    &.urban{
      circle{
        stroke: var(--color-urban);
      }
    }

    &.world{
      r: 5;
    }
    
    &.singapore, &.uganda{
      circle{
        stroke-width:0;
        r: 3;
      }

      &.rural{
        circle{
          fill: var(--color-rural);
        }
      }
  
      &.allarea{
        circle{
          fill: var(--color-allarea);
        }
      }
  
      &.urban{
        circle{
          fill: var(--color-urban);
        }
      }
    }
  }
}

#worldChart {
  margin:100px auto;
}

.controls{
  padding-left: 70px;

  @media screen and (max-width: $screen-sm-max) {
    padding-left: 0px;
  }
}

.differenceChartWrapper {
  margin:80px auto 100px;
}

#differenceChart {
  .xAxis {
    display: none;
  }
}
